<div class="container">
  <section class="left-content">
    <h1>Pricing</h1>

    <span class="pricing-detail">
      Most calendars are designed for teams. Slate is <br/>
      designed for freelancers who want a simple <br/>
      way to plan their schedule.
    </span>
  </section>
  <section class="right-content">
    <span>30-DAY FREE TRIAL</span>

    <div class="month-per-user">
      <span>$5</span>
      <span>/month per user</span>
    </div>

    <span>Most calendars are designed for teams.</span>

    <app-button btnType="btn-type1">Get Started</app-button>
  </section>
</div>
