<div class="container">
  <app-navbar></app-navbar>

  <section class="content">
    <h1>Lightning fast <br/> prototyping</h1>
    <span>
      Most calendars are designed for teams. Slate is designed for freelancers.
    </span>

    <div class="btn-container">
      <app-button btnType="btn-type1" margin="94px 25px 0 0">Get Started</app-button>
      <app-button btnType="btn-type2" margin="94px 0 0 0">Try For Free</app-button>
    </div>

    <img src="/assets/img/flat-browser.png" alt="flat-browser" class="flat-browser" />

    <img src="/assets/img/header-left.png" alt="header-left" class="header-img" id="header-left" />
    <img src="/assets/img/header-right.png" alt="header-right" class="header-img" id="header-right" />
  </section>
</div>

