<div class="container">
  <section class="left-content">
    <h3>We focus on ergonomic meeting</h3>
  </section>
  <section class="right-content">
    <span>
      Being a freelancer is a rollercoaster of emotions.
      We built Slate to keep your freelance business
      building...
      <br/><br/>
      Being a freelancer is a rollercoaster of emotions.
      We built Slate to keep your freelance business
      building...
    </span>

    <app-button btnType="btn-type1">Get Started</app-button>

  </section>
</div>
