<app-header></app-header>
<app-light-cta1></app-light-cta1>
<app-light-content56 [content]="5">
  <h1 class="title">
    {{
      screen.width >= 720 ?
        "OpenType features" :
        "Variable fonts"
    }}
  </h1>
  <span class="subtitle">
    {{
      screen.width >= 720 ?
        "Most calendars are designed for teams. \n" +
        "Slate is designed for freelancers who \n" +
        "want a simple way to plan their \n" +
        "schedule." :
        "Most calendars are designed for \n" +
        "teams. Slate is designed \n" +
        "for freelancers"
    }}
  </span>
</app-light-content56>
<app-light-content56 [content]="6">
  <h1 class="title">
    {{
    screen.width >= 720 ?
      "Variable fonts" :
      "OpenType features"
    }}
  </h1>
  <span class="subtitle">
    {{
    screen.width >= 720 ?
      "Most calendars are designed for \n" +
      "teams. Slate is designed for \n" +
      "freelancers " :
      "Most calendars are designed \n" +
      "for teams. Slate is designed \n" +
      "for freelancers who wan."
    }}
  </span>
</app-light-content56>
<app-light-cta7></app-light-cta7>
<app-light-testimonial1></app-light-testimonial1>
<app-dark-pricing4></app-dark-pricing4>
<app-light-content2></app-light-content2>
<app-light-footer1></app-light-footer1>
